/* START fixed navigation*/

#navigation {
	background-color: #757575;
	/*outline: green 2px dashed;*/
}

#nav {
	width: 960px;
	margin: 0 auto;
	/*outline: yellow 2px dashed;*/
}

#logos {
	color: white;
	position: absolute;
	padding-left: 15px;
}

#wrapper {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	/*outline: #ff7900 2px dashed;*/
	overflow: hidden;
	background-color: #FBFBFF;
}

#header {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	background-color: #48CA73;
	border-bottom-color: #0b0b0b;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#main {
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
	width: 650px;
	margin: 20px 20px 0 0;
	/*outline: 2px dashed #0053ae;*/
}

#extras {
	overflow: hidden;
	float: left;
	width: 247px;
	margin: 20px 20px;
	/*outline: 2px dashed #dd0009;*/
	border-right-color: #0b0b0b;
	border-right-style: solid;
	border-right-width: 2px;
}

#footer {
	background: #757575;
	/*outline: green 2px dashed;*/
}

#address {
	width: 960px;
	margin: 0 auto;
	/*outline: yellow 2px dashed;*/
	text-align: center;
	overflow: hidden;
}



#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #757575;
}

#nav ul li {

}

#nav ul li a {
	display: block;
	color: #F2F2F2;
	padding: 14px 16px;
	text-decoration: none;
	text-align: left;
}

#footer p,
#footer a {
	color: #F2F2F2;
	font-kerning: auto;
}


/* END fixed navigation*/


/* START flexibile navigation*/

#navigation-flex {
	background-color: #757575;
	/*outline: green 2px dashed;*/
}

#nav-flex {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	/*outline: yellow 2px dashed;*/
}

#nav-flex ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #757575;
}

#nav-flex ul li {

}

#nav-flex ul li a {
	display: block;
	color: #F2F2F2;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
}

#header-flex {
	margin: auto;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #48CA73;
	border-bottom: 0.125em solid #0b0b0b;
}

#wrapper-flex {
	overflow: hidden;
	background-color: #FBFBFF;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 960px;
}

#portfolios {
	overflow: hidden;
	margin: 0 auto;
	width: 94%;
	/*outline: 4px dashed #0053ae;*/
}

#resumes {
	overflow: hidden;
	margin: 0 auto;
	width: 94%;
	/*outline: 4px dashed #0053ae;*/
}


/* END flex naviation */


/* START global css */

html {
	background-color: #757575;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EAF9EF;
}

.active {
	/*highlight current active nav page*/
	background-color: #20BF55;
}

.passive:hover {
	/*Hover over new page*/
	background-color: #606060;
}

.side-il {
	list-style-type: square;
}

.side-a {
	color: dimgrey;
}


/* END global css */


/* START images and media*/

img {
	border-radius: 1em;
	max-width: 100%;
	height: auto;
	max-height: 20em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

iframe {
	width: 48em;
	height: 27em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/* END images and media*/


/* START media queries */

@media screen and (max-width: 600px) {
	#logos {
		visibility: hidden;
	}
	#navigation {
		width: 960px;
		margin: 0 auto;
	}
	#nav {
		width: 100%;
	}
	#footer {
		width: 960px;
		margin: 0 auto;
	}
	body {
		font-size: 20px;
	}
	#address,
	#footer {
		width: 100%;
	}
	#portfolios {
		text-align: center;
	}
	#portfolios h2 {
		border-bottom: 0.125em solid #0b0b0b;
	}
	#portfolios h3 {
		border-bottom: 0.063em solid #0b0b0b;
	}
	.fluid_title {
		text-align: center;
		border-bottom: 0.125em solid #0b0b0b;
		font-size: 1.5em;
	}
	.fluid_details {
		text-align: left;
		border-top: 0.063em solid #0b0b0b;
		border-bottom: 0.063em solid #0b0b0b;
	}
}

@media screen and (min-width: 601px) {
	#logos {
		visibility: visible;
	}
	#nav-flex ul li {
		float: right;
	}
}


/* END Media Queries*/

.fixed-nav {
	float: right;
}


/* START Resume Fluid Layout CSS*/

#resume_wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	background-color: #FBFBFF;
	border-top: 0.125em solid #0b0b0b;
}

#resume_title {
	width: 100%;
	text-align: center;
}

#resume_motto {
	width: 100%;
	text-align: center;
}

#resume_title_h2 {
	width: 100%;
	text-align: center;
}

.fluid {
	width: 100%;
}

.fluid_section {
	width: 100%;
}

.fluid_title {
	float: left;
	width: 100%;
	margin: 1em auto;
}

.fluid_object {
	float: left;
	width: 70%;
	margin: 0em;
}

.fluid_details {
	float: left;
	width: 100%;
	margin: 0em;
}

.fluid_parameter {
	float: right;
	width: 30%;
	display: block;
	font-weight: normal;
	margin: 0em;
	text-align: right;
}

.fluid_parameter_empty {
	float: right;
	width: 30%;
	display: block;
	font-weight: normal;
	margin: 0em;
	text-align: right;
	color: #FBFBFF;
}


/* END Resume Fluid Layout CSS*/